.text-red {
  color: #f00;
}

.container-login{
  width : 260px;
  padding-top:60px;
}
.container-signin{
  width : 600px;
  padding-top:20px;
}

.body{
  background-color:#eee;
}

/*필수항목 표시.*/
.must {
    padding-left: 0.5em;
}
.must:before {
    content: "* ";
    color: red;
}

.panel-heading h4 {
  margin: 0px;
  padding: 7px 0px;
}

.label-as-badge {
    border-radius: 1em;
}

a.list-group-item, ul.nav.navbar-nav li {
  cursor:pointer;
}
