nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand
        | EDAMS
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="edams-navbar")
        i.glyphicon.glyphicon-align-justify
    #edams-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(ui-sref="dashboard")
            | 대시보드
