.container.container-login
  .panel.panel-default
    .panel-body
      p
        input.form-control(type='text' placeholder='아이디' ng-model="login_obj.id")
        input.form-control(type='password' placeholder='패스워드' ng-model="login_obj.passwd")
      p
        button.btn.btn-block.btn-primary(ng-click="user_func.login()" ng-disabled="!(login_obj.id && login_obj.passwd)")
          | 로그인
        button.btn.btn-block.btn-success(ui-sref="signin")
          | 회원가입
