.container.container-login
  .panel.panel-default
    .panel-body
      p
        input.form-control(type='text' placeholder='아이디')
        input.form-control(type='password' placeholder='패스워드')
      p
        button.btn.btn-block.btn-primary
          | 로그인
        button.btn.btn-block.btn-success(ui-sref="signin")
          | 회원가입
